flows_YOGA.json
[
    {
        "id": "ddd0105b04875be6",
        "type": "tab",
        "label": "lecture fichier  KSI csv",
        "disabled": true,
        "info": "lit le fichier de simulation créé par Bernard\r\nle rentre dans mysql (désactivé car 1 fois suffit)\r\njoue la simulation a l'ecran\r\n"
    },
    {
        "id": "bd0e39b0e5b0cc70",
        "type": "tab",
        "label": "lectures graphiques bdd",
        "disabled": false,
        "info": ""
    },
    {
        "id": "13de37cb61fc3ad2",
        "type": "tab",
        "label": "panneau solaire NOUS AT1",
        "disabled": false,
        "info": "affiche les statuts de la prise tamotsa\r\npilote le toggle on off de la prise\r\nenvoie les valeurs dans la bdd mysql\r\n prise sur le panneau solaire"
    },
    {
        "id": "a21c4b8426a30f7f",
        "type": "tab",
        "label": "chargeur velo Tasmota",
        "disabled": false,
        "info": ""
    },
    {
        "id": "761b5806c43a83e0",
        "type": "tab",
        "label": "liste appareil consommateur",
        "disabled": true,
        "info": "gere le choix de l'appareil consommateur\r\n"
    },
    {
        "id": "d931280a91eab542",
        "type": "tab",
        "label": "electricity maps",
        "disabled": false,
        "info": "recuperer les taux de CO2"
    },
    {
        "id": "89761449a9ab2711",
        "type": "ui_group",
        "d": true,
        "name": "tableau de bord  KSI",
        "tab": "988df4f2cc6c55bd",
        "order": 4,
        "disp": true,
        "width": "21",
        "collapse": false
    },
    {
        "id": "6aec93185a5b7c14",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Julien Theme 1",
                "default": "#4B7930",
                "baseColor": "#76df3a",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ec161e1aa15af52f",
        "type": "serial-port",
        "serialport": "Port_#0003.Hub_#0001",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "bbfb72a5104d29b7",
        "type": "ui_tab",
        "name": "reseau",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9734cc8775ed8a5",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "403af71565be25d0",
        "type": "mui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#ff8040",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "m-base-color": {
                    "default": "#0094CE",
                    "value": "#ff8040",
                    "edited": true
                },
                "m-page-titlebar-backgroundColor": {
                    "value": "#ff8040",
                    "edited": false
                },
                "m-page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "m-page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "m-group-textColor": {
                    "value": "#ffb38c",
                    "edited": false
                },
                "m-group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "m-group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "m-widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "m-widget-backgroundColor": {
                    "value": "#ff8040",
                    "edited": false
                },
                "m-widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8babd83e4bcc8364",
        "type": "mqtt-broker",
        "name": "debian",
        "broker": "192.168.1.20",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c6bb1eb5.edd3d",
        "type": "websocket-listener",
        "path": "/ws/publish",
        "wholemsg": "true"
    },
    {
        "id": "a5db9e65.7dd36",
        "type": "websocket-listener",
        "path": "/ws/receive",
        "wholemsg": "true"
    },
    {
        "id": "43d8c011dfdc997f",
        "type": "MySQLdatabase",
        "name": "",
        "host": "192.168.1.25",
        "port": "3306",
        "db": "creppcarbone",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "6cf82e37.9a1db",
        "type": "MySQLdatabase",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "sys",
        "tz": ""
    },
    {
        "id": "5a7da5ac.ff2f14",
        "type": "MySQLdatabase",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "GTCEP",
        "tz": ""
    },
    {
        "id": "c4ad40011fadd485",
        "type": "mqtt-broker",
        "name": "mqtt raspberry",
        "broker": "10.3.141.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "af6e9ca4e8ef71ea",
        "type": "ui_group",
        "name": " Panneau Solaire",
        "tab": "988df4f2cc6c55bd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "988df4f2cc6c55bd",
        "type": "ui_tab",
        "name": "CREPP CARBONE ",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bbe0894839b359da",
        "type": "json2mysql-server",
        "host": "localhost",
        "database": "creppcarbone",
        "user": "jul",
        "password": "jul"
    },
    {
        "id": "d41b83de71e38c79",
        "type": "sme-connector"
    },
    {
        "id": "b4c867ea06f5361b",
        "type": "dashbored-server",
        "name": "",
        "weatherLat": "-37.8136",
        "weatherLong": "144.9631",
        "weatherUnit": "metric",
        "apiKey": ""
    },
    {
        "id": "2659c0e4.6c014",
        "type": "ui_group",
        "name": "programmation ecogeste",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "775a6b0b08b7d212",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "af6e9ca4e8ef71ea",
        "order": 19,
        "width": 3,
        "height": 1
    },
    {
        "id": "8b3d868d3cdeb6a6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "82fdbb34290e91d0",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "42f53854150e767a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "d0df4c7063afe1ae",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "44f16b3a61c1cf07",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "34a73b4d490e7d5a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "a25d19b0ca626925",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 19,
        "width": 11,
        "height": 1
    },
    {
        "id": "c58bea7066a2eb1f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "48b325e7079181d4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 23,
        "width": 11,
        "height": 1
    },
    {
        "id": "9303b68b30450322",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "b45519c17f511181",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 27,
        "width": 11,
        "height": 1
    },
    {
        "id": "d6dfca829eb3886e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "bd986d7b3481d616",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 31,
        "width": 11,
        "height": 1
    },
    {
        "id": "1bb3efd0406170f0",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 34,
        "width": 2,
        "height": 1
    },
    {
        "id": "69add73e93861217",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 36,
        "width": 11,
        "height": 1
    },
    {
        "id": "892a4c4329168fc2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 38,
        "width": 2,
        "height": 1
    },
    {
        "id": "b8d0721a253e5c85",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 40,
        "width": 11,
        "height": 1
    },
    {
        "id": "455b621bc9fe955b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 42,
        "width": 2,
        "height": 1
    },
    {
        "id": "6d0d9b80030c4fc1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 44,
        "width": 11,
        "height": 1
    },
    {
        "id": "e299fb1cdee3d81b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 46,
        "width": 2,
        "height": 1
    },
    {
        "id": "bcbe07230b347f75",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 48,
        "width": 20,
        "height": 1
    },
    {
        "id": "3a9dccfcd46634fe",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 50,
        "width": 20,
        "height": 1
    },
    {
        "id": "988bdf27b5d4a7d5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 52,
        "width": 20,
        "height": 1
    },
    {
        "id": "2e1c32072f687f28",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 54,
        "width": 20,
        "height": 1
    },
    {
        "id": "fd486254a881cfde",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 56,
        "width": 20,
        "height": 1
    },
    {
        "id": "4853d377692869ba",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 58,
        "width": 20,
        "height": 1
    },
    {
        "id": "b6a820abac5074c0",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 60,
        "width": 20,
        "height": 1
    },
    {
        "id": "72885c765c1762c1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 62,
        "width": 20,
        "height": 1
    },
    {
        "id": "b262765738c20d58",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 64,
        "width": 20,
        "height": 1
    },
    {
        "id": "7ead2c15742f7f45",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 66,
        "width": 20,
        "height": 1
    },
    {
        "id": "99198dd5d4232ab2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 68,
        "width": 20,
        "height": 1
    },
    {
        "id": "05ec36813545eaa9",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 70,
        "width": 20,
        "height": 1
    },
    {
        "id": "cae306b3cb1d8992",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 72,
        "width": 20,
        "height": 1
    },
    {
        "id": "676e9ee58787f430",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 75,
        "width": 13,
        "height": 1
    },
    {
        "id": "75b77e3fad9d7827",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 77,
        "width": 13,
        "height": 1
    },
    {
        "id": "70afe2c2af1af2eb",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 79,
        "width": 13,
        "height": 1
    },
    {
        "id": "21ae83295181563b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "103264bf942af992",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "8ced186f567a7bf2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "aa8278bc3d9e059f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 13,
        "width": 15,
        "height": 1
    },
    {
        "id": "ef232acedadea80d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "e36e0527ff4d77bd",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 16,
        "width": 15,
        "height": 1
    },
    {
        "id": "15dc3acb31b9ef3c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "e73d11f66d721fd0",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 18,
        "width": 21,
        "height": 1
    },
    {
        "id": "0ba67f37a11cba05",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 19,
        "width": 21,
        "height": 1
    },
    {
        "id": "a053dfbd811290d1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 20,
        "width": 21,
        "height": 1
    },
    {
        "id": "4766c0f3750172e8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 21,
        "width": 21,
        "height": 1
    },
    {
        "id": "a4b9a41baad953f4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 22,
        "width": 21,
        "height": 1
    },
    {
        "id": "f0c52f7a65fd2327",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 23,
        "width": 21,
        "height": 1
    },
    {
        "id": "e8839516760e38a6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 24,
        "width": 21,
        "height": 1
    },
    {
        "id": "49579c3987a1896f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 25,
        "width": 21,
        "height": 1
    },
    {
        "id": "a47e309766ac7702",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 26,
        "width": 21,
        "height": 1
    },
    {
        "id": "ea9d2dab11a61dff",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 27,
        "width": 21,
        "height": 1
    },
    {
        "id": "c1306a1c0810cb5e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 28,
        "width": 21,
        "height": 1
    },
    {
        "id": "b231c88ae1118683",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 29,
        "width": 21,
        "height": 1
    },
    {
        "id": "52a390158d0da0a7",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 30,
        "width": 21,
        "height": 1
    },
    {
        "id": "97c9ddaddf1604bd",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 31,
        "width": 21,
        "height": 1
    },
    {
        "id": "c825d303f09f7c15",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 32,
        "width": 21,
        "height": 1
    },
    {
        "id": "3c3aa51f9a233aab",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 33,
        "width": 21,
        "height": 1
    },
    {
        "id": "c038e7a38f2d8704",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 34,
        "width": 21,
        "height": 1
    },
    {
        "id": "9871098e33148650",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 35,
        "width": 21,
        "height": 1
    },
    {
        "id": "a8093a58a04c8584",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 36,
        "width": 21,
        "height": 1
    },
    {
        "id": "88e91edf13b329ef",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 37,
        "width": 21,
        "height": 1
    },
    {
        "id": "49879866d7aaa38d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "6b7f6af7b19dc5c6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "affbc76fcb43e2f5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "07957100dfa98a8e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 43,
        "width": 5,
        "height": 1
    },
    {
        "id": "94c0b6f575fd39df",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 44,
        "width": 5,
        "height": 1
    },
    {
        "id": "9ced5b6a53950688",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 45,
        "width": 5,
        "height": 1
    },
    {
        "id": "9f96188146d865cb",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 47,
        "width": 8,
        "height": 1
    },
    {
        "id": "689bd9df7b47310d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 48,
        "width": 8,
        "height": 1
    },
    {
        "id": "318fb8f2cfaab4ef",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 49,
        "width": 8,
        "height": 1
    },
    {
        "id": "de85d201b599a18d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 50,
        "width": 8,
        "height": 1
    },
    {
        "id": "ac162d4b3e120e30",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 51,
        "width": 8,
        "height": 1
    },
    {
        "id": "b418672ee39c5b10",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 52,
        "width": 8,
        "height": 1
    },
    {
        "id": "1a5cdab00ff5081d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 53,
        "width": 21,
        "height": 1
    },
    {
        "id": "a0e1afc0768bf7e5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 54,
        "width": 21,
        "height": 1
    },
    {
        "id": "418211c98175d3a9",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 55,
        "width": 21,
        "height": 1
    },
    {
        "id": "8ce0d8dca1d1d98e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 56,
        "width": 21,
        "height": 1
    },
    {
        "id": "91ef3f5013d5779a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 57,
        "width": 21,
        "height": 1
    },
    {
        "id": "d5be2707bf9f4c21",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 58,
        "width": 21,
        "height": 1
    },
    {
        "id": "5a650146a9d15632",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 59,
        "width": 21,
        "height": 1
    },
    {
        "id": "db02926e97d561c3",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 60,
        "width": 21,
        "height": 1
    },
    {
        "id": "e4c014c55271ceac",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 61,
        "width": 21,
        "height": 1
    },
    {
        "id": "2ec56280a28fe8dd",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 62,
        "width": 21,
        "height": 1
    },
    {
        "id": "53027ed519c72b7c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 63,
        "width": 21,
        "height": 1
    },
    {
        "id": "ccefc7c88e86a20e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 64,
        "width": 21,
        "height": 1
    },
    {
        "id": "af0e231fe439ce98",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 65,
        "width": 21,
        "height": 1
    },
    {
        "id": "21468683cc8c2ef5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 66,
        "width": 21,
        "height": 1
    },
    {
        "id": "5503b3f4227f75ac",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 67,
        "width": 21,
        "height": 1
    },
    {
        "id": "9860a2238baf873e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 68,
        "width": 21,
        "height": 1
    },
    {
        "id": "2fd8b460cfcb9ffb",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 69,
        "width": 21,
        "height": 1
    },
    {
        "id": "09caf4944d9ec8a9",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 70,
        "width": 21,
        "height": 1
    },
    {
        "id": "90ac39f632bc181d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 71,
        "width": 21,
        "height": 1
    },
    {
        "id": "d6c522cb3f17ba3c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 72,
        "width": 21,
        "height": 1
    },
    {
        "id": "a8980488fa6bc415",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 73,
        "width": 21,
        "height": 1
    },
    {
        "id": "ba177739c74bfe83",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 76,
        "width": 5,
        "height": 1
    },
    {
        "id": "f0a711256021954a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 77,
        "width": 5,
        "height": 1
    },
    {
        "id": "3dc4e33791542526",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 78,
        "width": 5,
        "height": 1
    },
    {
        "id": "47c33e32cdf6f7d3",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 79,
        "width": 5,
        "height": 1
    },
    {
        "id": "16d1eee595ddf26b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 80,
        "width": 5,
        "height": 1
    },
    {
        "id": "2a872b083e7da82d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 81,
        "width": 5,
        "height": 1
    },
    {
        "id": "0d50f7339c755722",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 82,
        "width": 5,
        "height": 1
    },
    {
        "id": "227adbb8594b6114",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 83,
        "width": 5,
        "height": 1
    },
    {
        "id": "624ae526c6515239",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 84,
        "width": 5,
        "height": 1
    },
    {
        "id": "561eca8350d275d6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 85,
        "width": 5,
        "height": 1
    },
    {
        "id": "9938406b62001eea",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 10,
        "height": 1
    },
    {
        "id": "2f40c7421e8286a8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 10,
        "height": 1
    },
    {
        "id": "4e577101d43dc8fc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 10,
        "height": 1
    },
    {
        "id": "a2b24a4c6bcbe2b7",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 10,
        "height": 1
    },
    {
        "id": "54533a70badfee4d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 10,
        "height": 1
    },
    {
        "id": "baf735b9f675a637",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 10,
        "height": 1
    },
    {
        "id": "ccce6931715fc89c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "af6e9ca4e8ef71ea",
        "order": 17,
        "width": 3,
        "height": 1
    },
    {
        "id": "4eec5718d54d1a22",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "af6e9ca4e8ef71ea",
        "order": 18,
        "width": 5,
        "height": 1
    },
    {
        "id": "6698d72a925d7757",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "a9dcc9b7f3fb52d2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "2fa0b369bf294d8b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "577abbdff98f1cc1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "8ed23028b6ffc46b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "02793ad9b8826681",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "ac3815e9b62c8f0c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 20,
        "width": 11,
        "height": 1
    },
    {
        "id": "b55a9bc3d6bfb212",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "4bc45547fbf3423c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 24,
        "width": 11,
        "height": 1
    },
    {
        "id": "a29d1da729aaa9a5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "67d9beb9bc2e3c9d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 28,
        "width": 11,
        "height": 1
    },
    {
        "id": "8e78344b73c546f9",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "ac7c73ee3cfaa1c4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 32,
        "width": 11,
        "height": 1
    },
    {
        "id": "da7e21fe10a4a5a5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 35,
        "width": 2,
        "height": 1
    },
    {
        "id": "2b56d81f0e700360",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 37,
        "width": 11,
        "height": 1
    },
    {
        "id": "6224e0b320ea0d54",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 39,
        "width": 2,
        "height": 1
    },
    {
        "id": "c4bd1e518d8a4065",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 41,
        "width": 11,
        "height": 1
    },
    {
        "id": "3a4fec89330ec9a0",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 43,
        "width": 2,
        "height": 1
    },
    {
        "id": "5038b51deceea6e4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 45,
        "width": 11,
        "height": 1
    },
    {
        "id": "f5aaca68670d0b8f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 47,
        "width": 2,
        "height": 1
    },
    {
        "id": "ea1aeaa95998a557",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 49,
        "width": 20,
        "height": 1
    },
    {
        "id": "804bbc99c12aff94",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 51,
        "width": 20,
        "height": 1
    },
    {
        "id": "880a6784b064f039",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 53,
        "width": 20,
        "height": 1
    },
    {
        "id": "c62802060c1e3cd7",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 55,
        "width": 20,
        "height": 1
    },
    {
        "id": "8cef42c2740ded91",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 57,
        "width": 20,
        "height": 1
    },
    {
        "id": "200c34946f33ff83",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 59,
        "width": 20,
        "height": 1
    },
    {
        "id": "222e221b98891285",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 61,
        "width": 20,
        "height": 1
    },
    {
        "id": "cfabfd8acdbadad0",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 63,
        "width": 20,
        "height": 1
    },
    {
        "id": "fe476d62ac387afe",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 65,
        "width": 20,
        "height": 1
    },
    {
        "id": "d4e9045756947dd4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 67,
        "width": 20,
        "height": 1
    },
    {
        "id": "89057829b68f6f56",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 69,
        "width": 20,
        "height": 1
    },
    {
        "id": "8267a7ab246d4a66",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 71,
        "width": 20,
        "height": 1
    },
    {
        "id": "61b3d0a00dd7eca8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 73,
        "width": 20,
        "height": 1
    },
    {
        "id": "521f2a165a315179",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 76,
        "width": 13,
        "height": 1
    },
    {
        "id": "25c66fb1a9583b06",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 78,
        "width": 13,
        "height": 1
    },
    {
        "id": "959c65c49b5af77d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "07d89c5050e270af",
        "order": 80,
        "width": 13,
        "height": 1
    },
    {
        "id": "4eb5f4b358a1cb49",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "bbdb73a532296d2d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "990bfc8cf1b52768",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "5b8461aec4ecbfc6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 13,
        "width": 15,
        "height": 1
    },
    {
        "id": "1543f2d01f6ebdea",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "d5331a9538543fac",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 16,
        "width": 15,
        "height": 1
    },
    {
        "id": "737fd77aec4ceb9f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "8b4ad377d1b038c4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 18,
        "width": 21,
        "height": 1
    },
    {
        "id": "7b3f84b38823b0c2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 19,
        "width": 21,
        "height": 1
    },
    {
        "id": "ffabcd5f162c4ce1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 20,
        "width": 21,
        "height": 1
    },
    {
        "id": "03813102fc45b46a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 21,
        "width": 21,
        "height": 1
    },
    {
        "id": "a7a72e58c533b99a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 22,
        "width": 21,
        "height": 1
    },
    {
        "id": "4e7936b95403ec08",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 23,
        "width": 21,
        "height": 1
    },
    {
        "id": "cf77445bb3f693b9",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 24,
        "width": 21,
        "height": 1
    },
    {
        "id": "50efb0f925e91490",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 25,
        "width": 21,
        "height": 1
    },
    {
        "id": "48fec626d1a03225",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 26,
        "width": 21,
        "height": 1
    },
    {
        "id": "ae5c481554b9e172",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 27,
        "width": 21,
        "height": 1
    },
    {
        "id": "6ca7fe28893bb682",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 28,
        "width": 21,
        "height": 1
    },
    {
        "id": "e9567e45f43ac890",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 29,
        "width": 21,
        "height": 1
    },
    {
        "id": "f750ed30418967a0",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 30,
        "width": 21,
        "height": 1
    },
    {
        "id": "2b371c7ea2a60e6b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 31,
        "width": 21,
        "height": 1
    },
    {
        "id": "7aa281cb14617f8c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 32,
        "width": 21,
        "height": 1
    },
    {
        "id": "7ee974872c1ef3cc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 33,
        "width": 21,
        "height": 1
    },
    {
        "id": "cf6b7ab223dd922b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 34,
        "width": 21,
        "height": 1
    },
    {
        "id": "e3e0611fb48f3b54",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 35,
        "width": 21,
        "height": 1
    },
    {
        "id": "e2b74c11503d5133",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 36,
        "width": 21,
        "height": 1
    },
    {
        "id": "44c2cad38951af82",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 37,
        "width": 21,
        "height": 1
    },
    {
        "id": "8cb6f636f631b473",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "604672713226e0f7",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "1620568a43a84cad",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "fb2c24ea1ce3890f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 43,
        "width": 5,
        "height": 1
    },
    {
        "id": "8c763607965c764c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 44,
        "width": 5,
        "height": 1
    },
    {
        "id": "e7d228f762d3f2da",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 45,
        "width": 5,
        "height": 1
    },
    {
        "id": "b1f06bb1789454eb",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 47,
        "width": 8,
        "height": 1
    },
    {
        "id": "c4e08fd8d45a6742",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 48,
        "width": 8,
        "height": 1
    },
    {
        "id": "4bb05d9e412aea75",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 49,
        "width": 8,
        "height": 1
    },
    {
        "id": "ed93f1f290ab35c7",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 50,
        "width": 8,
        "height": 1
    },
    {
        "id": "bf0cb92c1d943968",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 51,
        "width": 8,
        "height": 1
    },
    {
        "id": "84f82f918abc9ffb",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 52,
        "width": 8,
        "height": 1
    },
    {
        "id": "3d8820fbe72782f3",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 53,
        "width": 21,
        "height": 1
    },
    {
        "id": "de770ed68611412e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 54,
        "width": 21,
        "height": 1
    },
    {
        "id": "27c3184544f35fe9",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 55,
        "width": 21,
        "height": 1
    },
    {
        "id": "e4eaa44ac782a02f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 56,
        "width": 21,
        "height": 1
    },
    {
        "id": "e3b671199a5999c3",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 57,
        "width": 21,
        "height": 1
    },
    {
        "id": "aebd0fb5df4501c5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 58,
        "width": 21,
        "height": 1
    },
    {
        "id": "2896dd7b0fa57f22",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 59,
        "width": 21,
        "height": 1
    },
    {
        "id": "598556bee324dc20",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 60,
        "width": 21,
        "height": 1
    },
    {
        "id": "223e9cc3641dd2b9",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 61,
        "width": 21,
        "height": 1
    },
    {
        "id": "386f5d6573d8b706",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 62,
        "width": 21,
        "height": 1
    },
    {
        "id": "5fc41f51614b2c0e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 63,
        "width": 21,
        "height": 1
    },
    {
        "id": "c6851482934bb92c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 64,
        "width": 21,
        "height": 1
    },
    {
        "id": "2aeb5ee532602df4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 65,
        "width": 21,
        "height": 1
    },
    {
        "id": "3dec6bf1d22b1ac5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 66,
        "width": 21,
        "height": 1
    },
    {
        "id": "2227844722f6ed43",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 67,
        "width": 21,
        "height": 1
    },
    {
        "id": "872bc49864942341",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 68,
        "width": 21,
        "height": 1
    },
    {
        "id": "5ba7ad7c27dd4e46",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 69,
        "width": 21,
        "height": 1
    },
    {
        "id": "09f69bb028a5a7c7",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 70,
        "width": 21,
        "height": 1
    },
    {
        "id": "3fd53f1a0832425a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 71,
        "width": 21,
        "height": 1
    },
    {
        "id": "a1be956e4d642a98",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 72,
        "width": 21,
        "height": 1
    },
    {
        "id": "a977a3bc2f3ee940",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 73,
        "width": 21,
        "height": 1
    },
    {
        "id": "5e676e37c65122b5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 76,
        "width": 5,
        "height": 1
    },
    {
        "id": "71cc3a6caf07f165",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 77,
        "width": 5,
        "height": 1
    },
    {
        "id": "1960314760d937d2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 78,
        "width": 5,
        "height": 1
    },
    {
        "id": "fa6ca04e7d386ff0",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 79,
        "width": 5,
        "height": 1
    },
    {
        "id": "d85decf0b39b00b0",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 80,
        "width": 5,
        "height": 1
    },
    {
        "id": "f88d059d4050c79e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 81,
        "width": 5,
        "height": 1
    },
    {
        "id": "f6a1feb95dd963c4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 82,
        "width": 5,
        "height": 1
    },
    {
        "id": "04e2c21e13ee4cb7",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 83,
        "width": 5,
        "height": 1
    },
    {
        "id": "dd56666c985f3983",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 84,
        "width": 5,
        "height": 1
    },
    {
        "id": "23d9409d6947c8fc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "89761449a9ab2711",
        "order": 85,
        "width": 5,
        "height": 1
    },
    {
        "id": "3246558131fcde77",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 10,
        "height": 1
    },
    {
        "id": "69eb9c61b30fe349",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 10,
        "height": 1
    },
    {
        "id": "1a11106b047e2860",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 10,
        "height": 1
    },
    {
        "id": "e92a4d691cad90ea",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 10,
        "height": 1
    },
    {
        "id": "9692cc5938c71007",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 10,
        "height": 1
    },
    {
        "id": "f937d7ac9403fa7a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 10,
        "height": 1
    },
    {
        "id": "10be46959aac248a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "6253387b41db037a",
        "type": "ui_group",
        "name": "Scenario consommateur",
        "tab": "988df4f2cc6c55bd",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "1b256139bc926903",
        "type": "ui_group",
        "name": "Chargeur batterie de velo",
        "tab": "988df4f2cc6c55bd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "2606e140c9d98a7a",
        "type": "ui_group",
        "name": "saisie appareil consommateur",
        "tab": "988df4f2cc6c55bd",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "36ed94917875ebb9",
        "type": "dashbored-widget",
        "name": "Widget",
        "server": "b4c867ea06f5361b",
        "widgetType": "horizontalStack",
        "widthMultiplier": "1",
        "heightMultiplier": "1",
        "title": "",
        "restoreState": true,
        "setsState": true,
        "toggleButton-text": "Toggle Button",
        "toggleButton-onValue": "on",
        "toggleButton-offValue": "off",
        "toggleButton-CSS": ".on {\nbackground-color: #32CD32;\ncolor: white;\n}\n.off {\nbackground-color: #f2f2f2;\ncolor: black;\n}\n#button {\nwidth: calc(100% - 10px);\nheight: calc(100% - 10px);\nmargin: 5px;\n}\n#widget {}\n#title {}\n#content {}",
        "buttonSelector-options": [
            {
                "label": "Option 0",
                "value": "option_0",
                "onColor": "#32CD32",
                "offColor": "#ff3333"
            },
            {
                "label": "Option 1",
                "value": "option_1",
                "onColor": "#32CD32",
                "offColor": "#ff3333"
            }
        ],
        "buttonSelector-CSS": ".button {\nwidth: calc(100% - 10px);\nmargin: 5px;\n}\n.on {}\n.off {}",
        "horizontalStack-widgets": "6f915162f384b722",
        "verticalStack-widgets": "",
        "volume-mutedValue": "on",
        "volume-unmutedValue": "off",
        "volume-increment": 1,
        "volume-CSS": "#volumeLevelContainer {\ntransform: rotate(180deg);\noverflow: hidden;\nbackground-color: white;\nwidth: 20%;\nheight: 90%;\nmargin-top: 5%;\nmargin-left: 10%;\nmargin-right: 5%;\nfloat: right;\nborder-radius: 10em;\n}\n#volumeLevelTop {\nbackground-color: #01e301;\nwidth: 100%;\nheight: 100%;\n}\n#buttonContainer {\nfloat: right;\nheight: 100%;\nwidth: 60%;\n}\n.button {\ndisplay: block;\nwidth: 100%;\nheight: calc((100%/3) - (2.5px * 3));\npadding: 0;\nmargin-top: 5px;\ntransition: background-color 0.1s;\n}\n.mutedColor {\nbackground-color: red !important;\n}\n.clickColor {\nbackground-color: white !important;\n}",
        "actionButton-text": "Action Button",
        "actionButton-color": "#434343",
        "actionButton-flashColor": "#f2f2f2",
        "actionButton-CSS": "#button {\nwidth: calc(100% - 10px);\nheight: calc(100% - 10px);\nmargin: 5px;\ntransition: background-color 0.1s ease;\n}"
    },
    {
        "id": "016964b9b18bce81",
        "type": "ui_group",
        "name": "electric city",
        "tab": "988df4f2cc6c55bd",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "6739328cae73abc5",
        "type": "chronos-config",
        "name": "one",
        "sunPositions": []
    },
    {
        "id": "f0e0984a1740d14a",
        "type": "chronos-config",
        "name": "onne",
        "sunPositions": []
    },
    {
        "id": "fc08d7e8c78fd4ad",
        "type": "chronos-config",
        "name": "jj",
        "sunPositions": []
    },
    {
        "id": "e98bbc0d7820536c",
        "type": "chronos-config",
        "name": "gg",
        "sunPositions": []
    },
    {
        "id": "f8e408a8348f1a42",
        "type": "ui_group",
        "name": "graphique",
        "tab": "988df4f2cc6c55bd",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c716d8f1.4bb848",
        "type": "ui_group",
        "name": "bar-chart",
        "tab": "957fd14a.a1277",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "957fd14a.a1277",
        "type": "ui_tab",
        "name": "bar-chart",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e0e7ea5c.056af8",
        "type": "persist-store",
        "filename": "~/store.json",
        "interval": "60"
    },
    {
        "id": "d83a67fcb7073cd7",
        "type": "file in",
        "z": "ddd0105b04875be6",
        "name": "",
        "filename": "C:\\Users\\julien\\Downloads\\pksi15.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 610,
        "y": 40,
        "wires": [
            [
                "0681e7bdc1d829ee"
            ]
        ]
    },
    {
        "id": "100745e06ddcb658",
        "type": "inject",
        "z": "ddd0105b04875be6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 60,
        "wires": [
            [
                "d83a67fcb7073cd7"
            ]
        ]
    },
    {
        "id": "0681e7bdc1d829ee",
        "type": "csv",
        "z": "ddd0105b04875be6",
        "name": "",
        "sep": ";",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "b872291c76e7d9f0"
            ]
        ]
    },
    {
        "id": "b872291c76e7d9f0",
        "type": "split",
        "z": "ddd0105b04875be6",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "4588a0c304dac08f",
                "c6f81c6c646b5dc7"
            ]
        ]
    },
    {
        "id": "fb35337ff2417960",
        "type": "mysql",
        "z": "ddd0105b04875be6",
        "d": true,
        "mydb": "43d8c011dfdc997f",
        "name": "creppcarbone",
        "x": 900,
        "y": 240,
        "wires": [
            [
                "28f8b405063f69cc",
                "70cc31adf2640ebc"
            ]
        ]
    },
    {
        "id": "c675d06ee674a57a",
        "type": "function",
        "z": "ddd0105b04875be6",
        "name": " querry complet marche",
        "func": "\n\n//var P1 = msg.payload.timesec;\nvar P2 = msg.payload.dP;\nvar P3 = msg.payload.KSI;\n\nvar P4 = msg.payload.datein;\nvar P5 = msg.payload.minut;\n//var P4 = P1/ 60 +00;\n//var P5 = msg.payload.Heure.split(\":\" )[1];\n//var P6 = 20230618+P5+P4;\n//msg.payload =P6;\nvar query = \"INSERT INTO reseau (datein,ksi,deltap) VALUES ( \" + P4 + \", \"+ msg.payload.KSI+\", \" + msg.payload.dP +\" )\";\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 120,
        "wires": [
            [
                "fb35337ff2417960"
            ]
        ]
    },
    {
        "id": "5a29b0d0c872fab8",
        "type": "inject",
        "z": "ddd0105b04875be6",
        "name": "SELECT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT DISTINCT CO2,datetimer FROM mesure_prise WHERE CO2 > 15 and datetimer >0 ORDER BY datetimer ASC;",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 240,
        "wires": [
            [
                "fb35337ff2417960"
            ]
        ]
    },
    {
        "id": "6871eab9a73e7f7c",
        "type": "ui_chart",
        "z": "ddd0105b04875be6",
        "d": true,
        "name": "",
        "group": "89761449a9ab2711",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart C02",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1260,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1ca135b1ee222660",
        "type": "ui_template",
        "z": "ddd0105b04875be6",
        "d": true,
        "group": "89761449a9ab2711",
        "name": "result C02",
        "order": 38,
        "width": 16,
        "height": 6,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1270,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "28f8b405063f69cc",
        "type": "function",
        "z": "ddd0105b04875be6",
        "name": "prepareHtml",
        "func": "var temp = {};\nvar html = \"<table width='100%'><tr><td width='75%'>Date</td><td width='25%'>CO2</td></tr>\";\nfor(var i in msg.payload)\n{\n    temp = msg.payload[i];\n    html += \"<tr><td>\"+temp.datetimer+\"</td><td>\"+temp.CO2+\"</td></tr>\";\n}\nhtml += \"</table>\";\nmsg.payload = html;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 240,
        "wires": [
            [
                "1ca135b1ee222660"
            ]
        ]
    },
    {
        "id": "70cc31adf2640ebc",
        "type": "function",
        "z": "ddd0105b04875be6",
        "name": "prepare chart",
        "func": "var temp = {};\nvar data = [];\n\nfor (var i in msg.payload) {\n    temp = msg.payload[i];\n    data[i] = { \"x\": temp.datetimer, \"y\": temp.CO2 };\n}\n\nvar chart = [{\n    \"series\": [\"CO2\"],\n    \"data\": [\n        data\n    ]\n}];\nmsg.payload = chart;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 300,
        "wires": [
            [
                "6871eab9a73e7f7c"
            ]
        ]
    },
    {
        "id": "473a89d202fcea16",
        "type": "ui_chart",
        "z": "ddd0105b04875be6",
        "name": "KSI graph",
        "group": "89761449a9ab2711",
        "order": 46,
        "width": 13,
        "height": 6,
        "label": "KSI graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-2",
        "ymax": "+2",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1080,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4588a0c304dac08f",
        "type": "function",
        "z": "ddd0105b04875be6",
        "name": "function 19",
        "func": "var P1= msg.payload.KSI;\nmsg.payload=P1;\nreturn msg;\n\n    ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 420,
        "wires": [
            [
                "a0989c4ab25426fe"
            ]
        ]
    },
    {
        "id": "516d148f6ab7d595",
        "type": "delay",
        "z": "ddd0105b04875be6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "3",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "473a89d202fcea16",
                "fd0b3bb29af6166f",
                "4ed10a0e6f17fc77",
                "f1592b4e8f8aa1ee",
                "1ad4fedad3df2088",
                "20207871010d5d73"
            ]
        ]
    },
    {
        "id": "a0989c4ab25426fe",
        "type": "change",
        "z": "ddd0105b04875be6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " $number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 420,
        "wires": [
            [
                "516d148f6ab7d595",
                "d010539b1c3b4aba"
            ]
        ]
    },
    {
        "id": "c6f81c6c646b5dc7",
        "type": "change",
        "z": "ddd0105b04875be6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.KSI",
                "pt": "msg",
                "to": " $number(payload.KSI)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.dP",
                "pt": "msg",
                "to": "$number(payload.dP)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.sec",
                "pt": "msg",
                "to": "$number(payload.sec)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.minut",
                "pt": "msg",
                "to": "$number(payload.minut)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.timesec",
                "pt": "msg",
                "to": "$number(payload.timesec)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.datein",
                "pt": "msg",
                "to": "$number(payload.datein)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 120,
        "wires": [
            [
                "c675d06ee674a57a"
            ]
        ]
    },
    {
        "id": "fd0b3bb29af6166f",
        "type": "function",
        "z": "ddd0105b04875be6",
        "name": "consigne",
        "func": "\nif (msg.payload >= 1 )\n{msg.payload = \"on ne peut pas eteindre\";}\n\nelse\n\n{\nmsg.payload =\" 0\";\n}\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 520,
        "wires": [
            [
                "5306b7b9211c6820",
                "d774e1fb8c59c35b",
                "5ba1362ebf99792f"
            ]
        ]
    },
    {
        "id": "5306b7b9211c6820",
        "type": "ui_text",
        "z": "ddd0105b04875be6",
        "group": "89761449a9ab2711",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "consigne n epas eteindre",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "d010539b1c3b4aba",
        "type": "delay",
        "z": "ddd0105b04875be6",
        "name": "",
        "pauseType": "delay",
        "timeout": "9",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 500,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "4ed10a0e6f17fc77",
        "type": "function",
        "z": "ddd0105b04875be6",
        "name": "consigne",
        "func": "\nif (msg.payload <= - 1 )\n{msg.payload = \"on ne peut pas allumer\";}\n\nelse\n\n{\nmsg.payload =\" 0\";\n}\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 600,
        "wires": [
            [
                "00a44e7eb28f318b",
                "49044f0b29c351df",
                "bdc1c2ca27c50863",
                "3a1c3996775270e7"
            ]
        ]
    },
    {
        "id": "00a44e7eb28f318b",
        "type": "ui_text",
        "z": "ddd0105b04875be6",
        "group": "89761449a9ab2711",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "consigne ne pas allumer",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 950,
        "y": 600,
        "wires": []
    },
    {
        "id": "f1592b4e8f8aa1ee",
        "type": "ui_text",
        "z": "ddd0105b04875be6",
        "d": true,
        "group": "89761449a9ab2711",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "ksi chif",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "1ad4fedad3df2088",
        "type": "debug",
        "z": "ddd0105b04875be6",
        "name": "debug 49",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "49044f0b29c351df",
        "type": "debug",
        "z": "ddd0105b04875be6",
        "name": "debug 50",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 960,
        "y": 720,
        "wires": []
    },
    {
        "id": "20207871010d5d73",
        "type": "ui_gauge",
        "z": "ddd0105b04875be6",
        "name": "ksi g",
        "group": "89761449a9ab2711",
        "order": 14,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "ksi",
        "label": "",
        "format": "{{ }}",
        "min": "-2",
        "max": "2",
        "colors": [
            "#eca136",
            "#9ba9ed",
            "#16e940"
        ],
        "seg1": "-1",
        "seg2": "1",
        "x": 690,
        "y": 700,
        "wires": []
    },
    {
        "id": "694efbd0bfa4f913",
        "type": "ui_button",
        "z": "ddd0105b04875be6",
        "name": "",
        "group": "89761449a9ab2711",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "lancer la simulation",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "d83a67fcb7073cd7"
            ]
        ]
    },
    {
        "id": "4676a06a041ca18e",
        "type": "mqtt out",
        "z": "ddd0105b04875be6",
        "name": "",
        "topic": "cmnd/tasmota_179AB0/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c4ad40011fadd485",
        "x": 1390,
        "y": 660,
        "wires": []
    },
    {
        "id": "d774e1fb8c59c35b",
        "type": "function",
        "z": "ddd0105b04875be6",
        "name": "ON",
        "func": "if (msg.payload ==\"on ne peut pas eteindre\") {msg.payload = \"ON\";}\nelse {msg.payload =\"free\";};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 520,
        "wires": [
            [
                "4676a06a041ca18e"
            ]
        ]
    },
    {
        "id": "bdc1c2ca27c50863",
        "type": "function",
        "z": "ddd0105b04875be6",
        "name": "OFF",
        "func": "if (msg.payload ==\"on ne peut pas allumer\") {msg.payload = \"OFF\";}\nelse {msg.payload =\"free\";};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 660,
        "wires": [
            [
                "4676a06a041ca18e"
            ]
        ]
    },
    {
        "id": "5ba1362ebf99792f",
        "type": "function",
        "z": "ddd0105b04875be6",
        "name": "1pt",
        "func": "if (msg.payload ==\"on ne peut pas eteindre\") {msg.payload = 1;}\nelse {msg.payload =0;};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 520,
        "wires": [
            [
                "ec953ba26ec10f10",
                "6c29605bf94d19a9"
            ]
        ]
    },
    {
        "id": "3a1c3996775270e7",
        "type": "function",
        "z": "ddd0105b04875be6",
        "name": "2 pt",
        "func": "if (msg.payload ==\"on ne peut pas allumer\") {msg.payload = 2;}\nelse {msg.payload =0;};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 720,
        "wires": [
            [
                "ec953ba26ec10f10"
            ]
        ]
    },
    {
        "id": "ec953ba26ec10f10",
        "type": "function",
        "z": "ddd0105b04875be6",
        "name": "compteur",
        "func": "var myPrix = flow.get(\"compteur\");\nmyPrix= myPrix+msg.payload;\nflow.set(\"compteur\", myPrix);\nmsg.payload =myPrix;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 520,
        "wires": [
            [
                "34a5bcf343b8aa60",
                "ec9fb8d49c1eb185",
                "74e9b47d049e648f"
            ]
        ]
    },
    {
        "id": "f05b56c369330871",
        "type": "change",
        "z": "ddd0105b04875be6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "compteur",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "091b1311de1be25a"
            ]
        ]
    },
    {
        "id": "f0c19e56a604a0b1",
        "type": "ui_button",
        "z": "ddd0105b04875be6",
        "name": "",
        "group": "89761449a9ab2711",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "RAZ compteur",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "f05b56c369330871"
            ]
        ]
    },
    {
        "id": "34a5bcf343b8aa60",
        "type": "ui_gauge",
        "z": "ddd0105b04875be6",
        "name": "",
        "group": "89761449a9ab2711",
        "order": 11,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "carbone eco miles",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1730,
        "y": 520,
        "wires": []
    },
    {
        "id": "ec9fb8d49c1eb185",
        "type": "debug",
        "z": "ddd0105b04875be6",
        "name": "debug 52",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1760,
        "y": 380,
        "wires": []
    },
    {
        "id": "6c29605bf94d19a9",
        "type": "debug",
        "z": "ddd0105b04875be6",
        "name": "debug 53",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1480,
        "y": 380,
        "wires": []
    },
    {
        "id": "091b1311de1be25a",
        "type": "debug",
        "z": "ddd0105b04875be6",
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "5606bda81080b8e8",
        "type": "inject",
        "z": "ddd0105b04875be6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "f05b56c369330871"
            ]
        ]
    },
    {
        "id": "74e9b47d049e648f",
        "type": "ui_chart",
        "z": "ddd0105b04875be6",
        "name": "graph eco miles",
        "group": "89761449a9ab2711",
        "order": 39,
        "width": 4,
        "height": 3,
        "label": "carbone eco miles",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1740,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c4c4532a802c05c1",
        "type": "mqtt in",
        "z": "13de37cb61fc3ad2",
        "name": "",
        "topic": "stat/tasmota_179AB0/POWER",
        "qos": "0",
        "datatype": "auto",
        "broker": "c4ad40011fadd485",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "c15749d53eb2ae56"
            ]
        ]
    },
    {
        "id": "2e576a0de8aeacdd",
        "type": "mqtt out",
        "z": "13de37cb61fc3ad2",
        "name": "",
        "topic": "cmnd/tasmota_179AB0/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c4ad40011fadd485",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "c15749d53eb2ae56",
        "type": "debug",
        "z": "13de37cb61fc3ad2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "57767faf5d92edac",
        "type": "mqtt in",
        "z": "13de37cb61fc3ad2",
        "name": "",
        "topic": "stat/tasmota_179AB0/RESULT",
        "qos": "0",
        "datatype": "json",
        "broker": "c4ad40011fadd485",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "f6ab8e215236c80a",
                "c28b3940bacb2315"
            ]
        ]
    },
    {
        "id": "bc858956979456eb",
        "type": "mqtt in",
        "z": "13de37cb61fc3ad2",
        "name": "",
        "topic": "tele/tasmota_179AB0/STATE",
        "qos": "0",
        "datatype": "json",
        "broker": "c4ad40011fadd485",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 740,
        "wires": [
            [
                "786b2c4355db1c7d"
            ]
        ]
    },
    {
        "id": "786b2c4355db1c7d",
        "type": "debug",
        "z": "13de37cb61fc3ad2",
        "name": "state",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 370,
        "y": 740,
        "wires": []
    },
    {
        "id": "f34ea9984007869d",
        "type": "inject",
        "z": "13de37cb61fc3ad2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "2e576a0de8aeacdd"
            ]
        ]
    },
    {
        "id": "dd583fe909c1a222",
        "type": "inject",
        "z": "13de37cb61fc3ad2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "2e576a0de8aeacdd"
            ]
        ]
    },
    {
        "id": "8b030207b361e2e5",
        "type": "mqtt in",
        "z": "13de37cb61fc3ad2",
        "name": "",
        "topic": "tele/tasmota_179AB0/SENSOR",
        "qos": "0",
        "datatype": "json",
        "broker": "c4ad40011fadd485",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "0d515014d753535d",
                "b755c0427b24da2f"
            ]
        ]
    },
    {
        "id": "0d515014d753535d",
        "type": "function",
        "z": "13de37cb61fc3ad2",
        "name": "split resultats  Tamotsa",
        "func": "//var myPrix = flow.get(\"prixelec\");\nvar myPrix = 22;\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6= {};\nvar msg7= {};\nvar msg8= {};\nvar msg9 = {};\nmsg1.topic = 'S1';\nmsg2.topic = 'S2';\nmsg3.topic = 'S3';\nmsg4.topic = 'S4';\nmsg5.topic = 'S5';\nmsg6.topic = 'S6';\nmsg7.topic = 'S7';\nmsg8.topic = 'S8';\nmsg9.topic = 'S9';\nmsg1.payload = msg.payload.ENERGY.ApparentPower;\nmsg2.payload = msg.payload.ENERGY.Current;\nmsg3.payload = msg.payload.ENERGY.Voltage;\nmsg4.payload = msg.payload.ENERGY.Total;\nmsg5.payload = msg.payload.ENERGY.ReactivePower;\nmsg6.payload = msg.payload.ENERGY.Factor;\n//msg6.payload =msg6.payload.toFixed(1);\n//msg5.payload = msg5.payload.toFixed(1);\nmsg7.payload = msg.payload.ENERGY.Today;\nmsg8.payload = msg.payload.ENERGY.Power;\nmsg9.payload = msg.payload.ENERGY.Yesterday;\nreturn [msg1, msg2, msg3, msg4, msg5,msg6,msg7,msg8,msg9];",
        "outputs": 9,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 580,
        "wires": [
            [
                "14b8ae40236455da"
            ],
            [
                "910c34d436894998",
                "c5f07ad65ce51cf6"
            ],
            [
                "f69d74da6384fa48",
                "5791b7b01c107777"
            ],
            [
                "5649b90c3d7f8058",
                "74b6cbfe7c7f8378",
                "a9f5554ea321a159"
            ],
            [
                "6241cd2a6fc7eb73",
                "5e677b3ab5fa86d5"
            ],
            [
                "7445e567d91337fd",
                "6f0af8485d336320"
            ],
            [
                "33b5d2ea493d618f",
                "f38c3248a6beb9f2"
            ],
            [
                "82f90504532f7cfb",
                "e37a9137ae70d6fd",
                "41ae7b7bbb215bf5",
                "a17fbaf85af5ef8f"
            ],
            [
                "2dbad1d9cd1c4dad"
            ]
        ]
    },
    {
        "id": "910c34d436894998",
        "type": "debug",
        "z": "13de37cb61fc3ad2",
        "name": "Courrant",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 480,
        "wires": []
    },
    {
        "id": "f69d74da6384fa48",
        "type": "debug",
        "z": "13de37cb61fc3ad2",
        "name": "tension",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 420,
        "wires": []
    },
    {
        "id": "5649b90c3d7f8058",
        "type": "debug",
        "z": "13de37cb61fc3ad2",
        "name": "energie totale",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 580,
        "wires": []
    },
    {
        "id": "6241cd2a6fc7eb73",
        "type": "debug",
        "z": "13de37cb61fc3ad2",
        "name": "reactive power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 640,
        "wires": []
    },
    {
        "id": "7445e567d91337fd",
        "type": "debug",
        "z": "13de37cb61fc3ad2",
        "name": "power factor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 680,
        "wires": []
    },
    {
        "id": "28c4ac86156437c7",
        "type": "ui_switch",
        "z": "13de37cb61fc3ad2",
        "d": true,
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "af6e9ca4e8ef71ea",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "2e576a0de8aeacdd"
            ]
        ]
    },
    {
        "id": "82f90504532f7cfb",
        "type": "debug",
        "z": "13de37cb61fc3ad2",
        "name": "Power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 760,
        "wires": []
    },
    {
        "id": "74b6cbfe7c7f8378",
        "type": "ui_text",
        "z": "13de37cb61fc3ad2",
        "group": "af6e9ca4e8ef71ea",
        "order": 11,
        "width": "6",
        "height": 1,
        "name": "Energie totale (KWH)",
        "label": "<font size={{ 4}} > Energie totale  </font>",
        "format": "<font size={{ 4}} >{{msg.payload}} {{\"Kwh\"}}</font> ",
        "layout": "row-spread",
        "x": 1180,
        "y": 580,
        "wires": []
    },
    {
        "id": "a9f5554ea321a159",
        "type": "ui_chart",
        "z": "13de37cb61fc3ad2",
        "d": true,
        "name": "Energie Totale",
        "group": "af6e9ca4e8ef71ea",
        "order": 15,
        "width": "6",
        "height": 4,
        "label": "<font size={{ 1}} >Energie Totale KWh </font>",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1400,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f6ab8e215236c80a",
        "type": "function",
        "z": "13de37cb61fc3ad2",
        "name": "etat tamotsa",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6= {};\nvar msg7= {};\nvar msg8= {};\nmsg1.topic = 'S1';\nmsg2.topic = 'S2';\nmsg3.topic = 'S3';\nmsg4.topic = 'S4';\nmsg5.topic = 'S5';\nmsg6.topic = 'S6';\nmsg7.topic = 'S7';\nmsg8.topic = 'S8';\nmsg1.payload = msg.payload.POWER;\n//msg2.payload = msg.payload.ENERGY.Current;\n//msg3.payload = msg.payload.ENERGY.Voltage;\n//msg4.payload = msg.payload.ENERGY.Total;\n//msg5.payload = msg.payload.ENERGY.Total*16;\n//msg6.payload = msg.payload.ENERGY.Power*16;\n//msg7.payload = msg.payload.ENERGY.Power*16;\n//msg8.payload = msg.payload.ENERGY.Power;\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "68b45fd46a4091ed"
            ]
        ]
    },
    {
        "id": "68b45fd46a4091ed",
        "type": "ui_text",
        "z": "13de37cb61fc3ad2",
        "d": true,
        "group": "af6e9ca4e8ef71ea",
        "order": 12,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Etat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "5e677b3ab5fa86d5",
        "type": "ui_text",
        "z": "13de37cb61fc3ad2",
        "d": true,
        "group": "af6e9ca4e8ef71ea",
        "order": 7,
        "width": "2",
        "height": 1,
        "name": "Puissance Réactive (VAr)",
        "label": "<font size={{ 1}} >Reactive Power </font>",
        "format": "<font size={{ 1}} >{{msg.payload}} {{\"VAr\"}}</font>",
        "layout": "row-spread",
        "x": 1210,
        "y": 640,
        "wires": []
    },
    {
        "id": "c28b3940bacb2315",
        "type": "debug",
        "z": "13de37cb61fc3ad2",
        "name": "debug 41",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "e8fd93fa7a68f788",
        "type": "mysql",
        "z": "13de37cb61fc3ad2",
        "mydb": "43d8c011dfdc997f",
        "name": "creppcarbone",
        "x": 780,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ae3ee607321b49e9",
        "type": "function",
        "z": "13de37cb61fc3ad2",
        "name": " querry Tasmota ",
        "func": "var P1 = msg.payload.Time.split(\"T\")[0];\nvar P11 = P1.split(\"-\")[0];\nvar P2 = P1.split(\"-\")[1];\nvar P3 = P1.split(\"-\")[2];\nvar P12 = msg.payload.Time.split(\"T\")[1];\nvar P4 = P12.split(\":\")[0];\nvar P5 = P12.split(\":\")[1];\nvar P7 = P12.split(\":\")[2];\nvar P8 = msg.payload.ENERGY.Power;\nvar P9 = msg.payload.ENERGY.Today;\nvar P10 =msg.payload.ENERGY.Total;\nvar P13 =msg.payload.ENERGY.Yesterday;\n//\n var P6 = P11 + P2 + P3+P4+P5+P7;\n// \n// \nvar query = \"INSERT INTO Tasmota (Time,activepower,energytoday,energytotal,energyyesterday) VALUES (\" + P6 + \" ,\" + P8 + \", \" + P9 + \", \" + P10 + \",\" + P13 + \")\";\nmsg.topic = query;\nreturn msg;\n\n\n\n//var P1 = msg.payload.Time;\n\n\n//P1 = Time: \"2023-06-18T07:58:02\"\";\n//var P2 = msg.payload.ENERGY;\n//var P3 = msg.payload[\"KSI (GWh)\"];\n//var query = \"INSERT INTO tasmota (ENERGY) VALUES (\" + P2 + \")\";\n//var query = \"INSERT INTO tasmota (Time) VALUES (\" + P1 + \", \" +P2+ \")\";\nvar query = \"INSERT INTO tasmota (Time) VALUES (\" + P1 + \")\";\n//var query = \"INSERT INTO tasmota (Time,ENERGY) VALUES (\" + P1 + \", \" + P2 + \")\";\nmsg.topic = query;\nreturn msg;\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 400,
        "wires": [
            [
                "e8fd93fa7a68f788"
            ]
        ]
    },
    {
        "id": "e37a9137ae70d6fd",
        "type": "ui_text",
        "z": "13de37cb61fc3ad2",
        "group": "af6e9ca4e8ef71ea",
        "order": 5,
        "width": "6",
        "height": 1,
        "name": "Puissance instantanée (W)",
        "label": "<font size={{ 4}} > puissance instantanée </font>",
        "format": "<font size={{ 4}} >{{msg.payload}} {{\"W\"}}</font> ",
        "layout": "row-spread",
        "x": 1220,
        "y": 860,
        "wires": []
    },
    {
        "id": "41ae7b7bbb215bf5",
        "type": "ui_chart",
        "z": "13de37cb61fc3ad2",
        "d": true,
        "name": "puissance instantanée",
        "group": "af6e9ca4e8ef71ea",
        "order": 13,
        "width": "6",
        "height": 4,
        "label": "<font size={{ 1}} >puissance instantanée W </font>",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1480,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "33b5d2ea493d618f",
        "type": "ui_text",
        "z": "13de37cb61fc3ad2",
        "group": "af6e9ca4e8ef71ea",
        "order": 9,
        "width": "6",
        "height": 1,
        "name": "Energie aujourdhui (kWh)",
        "label": "<font size={{4}} > Energie aujourdhui</font>",
        "format": "<font size={{ 4}} >{{msg.payload}} {{\"KWh\"}}</font> ",
        "layout": "row-spread",
        "x": 1210,
        "y": 760,
        "wires": []
    },
    {
        "id": "f38c3248a6beb9f2",
        "type": "ui_chart",
        "z": "13de37cb61fc3ad2",
        "d": true,
        "name": "Energie aujourdhui",
        "group": "af6e9ca4e8ef71ea",
        "order": 14,
        "width": "6",
        "height": 4,
        "label": "<font size={{ 1}} >Energie aujourdhui KWh </font>",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1490,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "b755c0427b24da2f",
        "type": "delay",
        "z": "13de37cb61fc3ad2",
        "name": "1 fois par heure",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "x": 400,
        "y": 400,
        "wires": [
            [
                "ae3ee607321b49e9"
            ]
        ]
    },
    {
        "id": "5791b7b01c107777",
        "type": "ui_text",
        "z": "13de37cb61fc3ad2",
        "d": true,
        "group": "af6e9ca4e8ef71ea",
        "order": 1,
        "width": "2",
        "height": 1,
        "name": "Tension (V)",
        "label": "<font size={{ 1}} > Tension  </font>",
        "format": "<font size={{ 1}} >{{msg.payload}} {{\"V\"}}</font> ",
        "layout": "row-spread",
        "x": 1150,
        "y": 420,
        "wires": []
    },
    {
        "id": "c5f07ad65ce51cf6",
        "type": "ui_text",
        "z": "13de37cb61fc3ad2",
        "d": true,
        "group": "af6e9ca4e8ef71ea",
        "order": 4,
        "width": "2",
        "height": 1,
        "name": "Courrant (A)",
        "label": "<font size={{ 1}} > Courrant  </font>",
        "format": "<font size={{ 1}} >{{msg.payload}} {{\"A\"}}</font> ",
        "layout": "row-spread",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "14b8ae40236455da",
        "type": "ui_text",
        "z": "13de37cb61fc3ad2",
        "d": true,
        "group": "af6e9ca4e8ef71ea",
        "order": 6,
        "width": "2",
        "height": 1,
        "name": "Puissance apparente (W)",
        "label": "<font size={{ 1}} > puissance apparente </font>",
        "format": "<font size={{ 1}} >{{msg.payload}} {{\"W\"}}</font> ",
        "layout": "row-spread",
        "x": 1190,
        "y": 500,
        "wires": []
    },
    {
        "id": "6f0af8485d336320",
        "type": "ui_text",
        "z": "13de37cb61fc3ad2",
        "d": true,
        "group": "af6e9ca4e8ef71ea",
        "order": 8,
        "width": "2",
        "height": 1,
        "name": "facteur puissance",
        "label": "<font size={{ 1}} >facteur puissance </font>",
        "format": "<font size={{ 1}} >{{msg.payload}} </font>",
        "layout": "row-spread",
        "x": 1190,
        "y": 680,
        "wires": []
    },
    {
        "id": "2dbad1d9cd1c4dad",
        "type": "ui_text",
        "z": "13de37cb61fc3ad2",
        "group": "af6e9ca4e8ef71ea",
        "order": 10,
        "width": "6",
        "height": 1,
        "name": "Energie hier(kWh)",
        "label": "<font size={{ 4}} > Energie hier</font>",
        "format": "<font size={{ 4}} >{{msg.payload}} {{\"KWh\"}}</font> ",
        "layout": "row-spread",
        "x": 1190,
        "y": 920,
        "wires": []
    },
    {
        "id": "18535c72dc2f85b9",
        "type": "mqtt in",
        "z": "a21c4b8426a30f7f",
        "name": "",
        "topic": "stat/tasmota_8336B4/POWER",
        "qos": "0",
        "datatype": "auto",
        "broker": "c4ad40011fadd485",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 340,
        "wires": [
            [
                "7b6bf02f07d13166"
            ]
        ]
    },
    {
        "id": "c53f452e9e77496c",
        "type": "mqtt out",
        "z": "a21c4b8426a30f7f",
        "name": "",
        "topic": "cmnd/tasmota_8336B4/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c4ad40011fadd485",
        "x": 1050,
        "y": 160,
        "wires": []
    },
    {
        "id": "7b6bf02f07d13166",
        "type": "debug",
        "z": "a21c4b8426a30f7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "5623b508d0ace614",
        "type": "mqtt in",
        "z": "a21c4b8426a30f7f",
        "name": "",
        "topic": "stat/tasmota_8336B4/RESULT",
        "qos": "0",
        "datatype": "json",
        "broker": "c4ad40011fadd485",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "cfaf00d9db113829",
                "aa5f5b25c35491d7"
            ]
        ]
    },
    {
        "id": "6e78f263ef39ba2a",
        "type": "inject",
        "z": "a21c4b8426a30f7f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 830,
        "y": 120,
        "wires": [
            [
                "c53f452e9e77496c"
            ]
        ]
    },
    {
        "id": "04ce72ecd9e2f1a5",
        "type": "inject",
        "z": "a21c4b8426a30f7f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 830,
        "y": 200,
        "wires": [
            [
                "c53f452e9e77496c"
            ]
        ]
    },
    {
        "id": "b74e0dd024672e91",
        "type": "ui_switch",
        "z": "a21c4b8426a30f7f",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "1b256139bc926903",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 670,
        "y": 120,
        "wires": [
            [
                "c53f452e9e77496c",
                "759659ff2a6808bf"
            ]
        ]
    },
    {
        "id": "cfaf00d9db113829",
        "type": "function",
        "z": "a21c4b8426a30f7f",
        "name": "etat tamotsa",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6= {};\nvar msg7= {};\nvar msg8= {};\nmsg1.topic = 'S1';\nmsg2.topic = 'S2';\nmsg3.topic = 'S3';\nmsg4.topic = 'S4';\nmsg5.topic = 'S5';\nmsg6.topic = 'S6';\nmsg7.topic = 'S7';\nmsg8.topic = 'S8';\nmsg1.payload = msg.payload.POWER;\n//msg2.payload = msg.payload.ENERGY.Current;\n//msg3.payload = msg.payload.ENERGY.Voltage;\n//msg4.payload = msg.payload.ENERGY.Total;\n//msg5.payload = msg.payload.ENERGY.Total*16;\n//msg6.payload = msg.payload.ENERGY.Power*16;\n//msg7.payload = msg.payload.ENERGY.Power*16;\n//msg8.payload = msg.payload.ENERGY.Power;\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 260,
        "wires": [
            [
                "c3692520ab7c0e99"
            ]
        ]
    },
    {
        "id": "c3692520ab7c0e99",
        "type": "ui_text",
        "z": "a21c4b8426a30f7f",
        "group": "1b256139bc926903",
        "order": 12,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Etat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "aa5f5b25c35491d7",
        "type": "debug",
        "z": "a21c4b8426a30f7f",
        "name": "debug 61",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "8131dc5f697a4401",
        "type": "mqtt in",
        "z": "a21c4b8426a30f7f",
        "name": "",
        "topic": "tele/tasmota_8336B4/SENSOR",
        "qos": "0",
        "datatype": "json",
        "broker": "c4ad40011fadd485",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 420,
        "wires": [
            [
                "52ad1b37b89bdc71"
            ]
        ]
    },
    {
        "id": "52ad1b37b89bdc71",
        "type": "function",
        "z": "a21c4b8426a30f7f",
        "name": "split resultats  Tamotsa",
        "func": "//var myPrix = flow.get(\"prixelec\");\nvar myPrix = 22;\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6= {};\nvar msg7= {};\nvar msg8= {};\nvar msg9 = {};\nmsg1.topic = 'S1';\nmsg2.topic = 'S2';\nmsg3.topic = 'S3';\nmsg4.topic = 'S4';\nmsg5.topic = 'S5';\nmsg6.topic = 'S6';\nmsg7.topic = 'S7';\nmsg8.topic = 'S8';\nmsg9.topic = 'S9';\nmsg1.payload = msg.payload.ENERGY.ApparentPower;\nmsg2.payload = msg.payload.ENERGY.Current;\nmsg3.payload = msg.payload.ENERGY.Voltage;\nmsg4.payload = msg.payload.ENERGY.Total;\nmsg5.payload = msg.payload.ENERGY.ReactivePower;\nmsg6.payload = msg.payload.ENERGY.Factor;\n//msg6.payload =msg6.payload.toFixed(1);\n//msg5.payload = msg5.payload.toFixed(1);\nmsg7.payload = msg.payload.ENERGY.Today;\nmsg8.payload = msg.payload.ENERGY.Power;\nmsg9.payload = msg.payload.ENERGY.Yesterday;\nreturn [msg1, msg2, msg3, msg4, msg5,msg6,msg7,msg8,msg9];",
        "outputs": 9,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 460,
        "wires": [
            [
                "cefc9adad453c524"
            ],
            [
                "211149b52cefd78e",
                "c0ce396c95c37dd0"
            ],
            [
                "97afbc9f38b598d2",
                "f98185a9a8e3b334"
            ],
            [
                "d73d3b086d64daa1",
                "6de237760465eeeb",
                "55f99eba2d0fcc71"
            ],
            [
                "26a2730e462c2b96",
                "c4533dad3da52f65"
            ],
            [
                "7b40b4f8515a30d3",
                "6f3ec12ee31a1cd6"
            ],
            [
                "96d7868aa664c3e8",
                "ceb7434a5f83e8e0"
            ],
            [
                "e448084356ac29f8",
                "b48d26f67b30143c",
                "45f48a9ff03d61f4",
                "f5d0f579d220ae99"
            ],
            [
                "b61e934b264bb3ec"
            ]
        ]
    },
    {
        "id": "211149b52cefd78e",
        "type": "debug",
        "z": "a21c4b8426a30f7f",
        "name": "Courrant",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1340,
        "y": 280,
        "wires": []
    },
    {
        "id": "97afbc9f38b598d2",
        "type": "debug",
        "z": "a21c4b8426a30f7f",
        "name": "tension",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1340,
        "y": 220,
        "wires": []
    },
    {
        "id": "d73d3b086d64daa1",
        "type": "debug",
        "z": "a21c4b8426a30f7f",
        "name": "energie totale",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1340,
        "y": 380,
        "wires": []
    },
    {
        "id": "26a2730e462c2b96",
        "type": "debug",
        "z": "a21c4b8426a30f7f",
        "name": "reactive power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1340,
        "y": 440,
        "wires": []
    },
    {
        "id": "7b40b4f8515a30d3",
        "type": "debug",
        "z": "a21c4b8426a30f7f",
        "name": "power factor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1330,
        "y": 480,
        "wires": []
    },
    {
        "id": "e448084356ac29f8",
        "type": "debug",
        "z": "a21c4b8426a30f7f",
        "name": "Power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1330,
        "y": 560,
        "wires": []
    },
    {
        "id": "6de237760465eeeb",
        "type": "ui_text",
        "z": "a21c4b8426a30f7f",
        "group": "1b256139bc926903",
        "order": 11,
        "width": "6",
        "height": 1,
        "name": "Energie totale (KWH)",
        "label": "<font size={{ 4}} > Energie totale  </font>",
        "format": "<font size={{ 4}} >{{msg.payload}} {{\"Kwh\"}}</font> ",
        "layout": "row-spread",
        "x": 1540,
        "y": 380,
        "wires": []
    },
    {
        "id": "55f99eba2d0fcc71",
        "type": "ui_chart",
        "z": "a21c4b8426a30f7f",
        "d": true,
        "name": "Energie Totale",
        "group": "1b256139bc926903",
        "order": 15,
        "width": "6",
        "height": "5",
        "label": "<font size={{ 1}} >Energie Totale KWh </font>",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1660,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c4533dad3da52f65",
        "type": "ui_text",
        "z": "a21c4b8426a30f7f",
        "d": true,
        "group": "1b256139bc926903",
        "order": 7,
        "width": "2",
        "height": 1,
        "name": "Puissance Réactive (VAr)",
        "label": "<font size={{ 1}} >Reactive Power </font>",
        "format": "<font size={{ 1}} >{{msg.payload}} {{\"VAr\"}}</font>",
        "layout": "row-spread",
        "x": 1570,
        "y": 440,
        "wires": []
    },
    {
        "id": "b48d26f67b30143c",
        "type": "ui_text",
        "z": "a21c4b8426a30f7f",
        "group": "1b256139bc926903",
        "order": 5,
        "width": "6",
        "height": 1,
        "name": "Puissance instantanée (W)",
        "label": "<font size={{ 4}} > puissance instantanée </font>",
        "format": "<font size={{ 4}} >{{msg.payload}} {{\"W\"}}</font> ",
        "layout": "row-spread",
        "x": 1560,
        "y": 640,
        "wires": []
    },
    {
        "id": "45f48a9ff03d61f4",
        "type": "ui_chart",
        "z": "a21c4b8426a30f7f",
        "d": true,
        "name": "puissance instantanée",
        "group": "1b256139bc926903",
        "order": 13,
        "width": "6",
        "height": 4,
        "label": "<font size={{ 1}} >puissance instantanée W </font>",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1660,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "96d7868aa664c3e8",
        "type": "ui_text",
        "z": "a21c4b8426a30f7f",
        "group": "1b256139bc926903",
        "order": 9,
        "width": "6",
        "height": 1,
        "name": "Energie aujourdhui (kWh)",
        "label": "<font size={{ 4}} > Energie aujourdhui</font>",
        "format": "<font size={{ 4}} >{{msg.payload}} {{\"KWh\"}}</font> ",
        "layout": "row-spread",
        "x": 1550,
        "y": 560,
        "wires": []
    },
    {
        "id": "ceb7434a5f83e8e0",
        "type": "ui_chart",
        "z": "a21c4b8426a30f7f",
        "d": true,
        "name": "Energie aujourdhui",
        "group": "1b256139bc926903",
        "order": 14,
        "width": "6",
        "height": 4,
        "label": "<font size={{ 1}} >Energie aujourdhui KWh </font>",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1690,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f98185a9a8e3b334",
        "type": "ui_text",
        "z": "a21c4b8426a30f7f",
        "d": true,
        "group": "1b256139bc926903",
        "order": 3,
        "width": "2",
        "height": 1,
        "name": "Tension (V)",
        "label": "<font size={{ 1}} > Tension  </font>",
        "format": "<font size={{ 1}} >{{msg.payload}} {{\"V\"}}</font> ",
        "layout": "row-spread",
        "x": 1510,
        "y": 220,
        "wires": []
    },
    {
        "id": "c0ce396c95c37dd0",
        "type": "ui_text",
        "z": "a21c4b8426a30f7f",
        "d": true,
        "group": "1b256139bc926903",
        "order": 4,
        "width": "2",
        "height": 1,
        "name": "Courrant (A)",
        "label": "<font size={{ 1}} > Courrant  </font>",
        "format": "<font size={{ 1}} >{{msg.payload}} {{\"A\"}}</font> ",
        "layout": "row-spread",
        "x": 1510,
        "y": 260,
        "wires": []
    },
    {
        "id": "cefc9adad453c524",
        "type": "ui_text",
        "z": "a21c4b8426a30f7f",
        "d": true,
        "group": "1b256139bc926903",
        "order": 6,
        "width": "2",
        "height": 1,
        "name": "Puissance apparente (W)",
        "label": "<font size={{ 1}} > puissance apparente </font>",
        "format": "<font size={{ 1}} >{{msg.payload}} {{\"W\"}}</font> ",
        "layout": "row-spread",
        "x": 1530,
        "y": 300,
        "wires": []
    },
    {
        "id": "6f3ec12ee31a1cd6",
        "type": "ui_text",
        "z": "a21c4b8426a30f7f",
        "d": true,
        "group": "1b256139bc926903",
        "order": 8,
        "width": "2",
        "height": 1,
        "name": "facteur puissance",
        "label": "<font size={{ 1}} >facteur puissance </font>",
        "format": "<font size={{ 1}} >{{msg.payload}} </font>",
        "layout": "row-spread",
        "x": 1550,
        "y": 480,
        "wires": []
    },
    {
        "id": "b61e934b264bb3ec",
        "type": "ui_text",
        "z": "a21c4b8426a30f7f",
        "group": "1b256139bc926903",
        "order": 10,
        "width": "6",
        "height": 1,
        "name": "Energie hier(kWh)",
        "label": "<font size={{ 4}} > Energie hier</font>",
        "format": "<font size={{ 4}} >{{msg.payload}} {{\"KWh\"}}</font> ",
        "layout": "row-spread",
        "x": 1530,
        "y": 680,
        "wires": []
    },
    {
        "id": "ff3efd6328b76f9a",
        "type": "change",
        "z": "a21c4b8426a30f7f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "scenario",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "b74e0dd024672e91",
                "c03e88aa4c85d026"
            ]
        ]
    },
    {
        "id": "58b2026f88ee921f",
        "type": "inject",
        "z": "a21c4b8426a30f7f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "ff3efd6328b76f9a"
            ]
        ]
    },
    {
        "id": "759659ff2a6808bf",
        "type": "debug",
        "z": "a21c4b8426a30f7f",
        "name": "debug 65",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "c03e88aa4c85d026",
        "type": "debug",
        "z": "a21c4b8426a30f7f",
        "name": "debug 66",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "7a196f7232e4c3d5",
        "type": "cronplus",
        "z": "a21c4b8426a30f7f",
        "name": "chaq heure + 2 sec",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "2 0 * * * ? *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 170,
        "y": 140,
        "wires": [
            [
                "ff3efd6328b76f9a"
            ]
        ]
    },
    {
        "id": "17ce6d249432505f",
        "type": "mysql",
        "z": "761b5806c43a83e0",
        "mydb": "43d8c011dfdc997f",
        "name": "creppcarbone",
        "x": 760,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "396cb4372ddcbdab",
        "type": "ui_form",
        "z": "761b5806c43a83e0",
        "name": "interf ajout appareil  bdd",
        "label": "interface rajout appareil  bdd",
        "group": "2606e140c9d98a7a",
        "order": 18,
        "width": "5",
        "height": "7",
        "options": [
            {
                "label": "nouvel appareil",
                "value": "app",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "puissance VA",
                "value": "VAI",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "KW/ jour",
                "value": "KWHj",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "profil",
                "value": "profil",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "emplacement",
                "value": "emplacement",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "identifiant",
                "value": "ident",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "app": "",
            "VAI": "",
            "KWHj": "",
            "profil": "",
            "emplacement": "",
            "ident": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "appareil consommateur",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "c36cb5062b2c23a0"
            ]
        ]
    },
    {
        "id": "c36cb5062b2c23a0",
        "type": "function",
        "z": "761b5806c43a83e0",
        "name": " querry appareil",
        "func": "var P1 = msg.payload.app;\nvar P2 = msg.payload.VAI;\nvar P3 = msg.payload.KWHj;\nvar P4 = msg.payload.profil;\nvar P5 = msg.payload.emplacement;\nvar P6 = msg.payload.ident;\n//var P2 ='toto';\nvar query = \"INSERT INTO Conso (appareil,VAI,KWHJ,profil,emplacement,ident) VALUES ('\" + P1 + \"', '\" + P2 + \"','\" + P3 + \"','\" + P4 + \"','\" + P5 + \"', '\" + P6 +\"') \" ;\n\nmsg.topic = query;\nreturn msg;\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "17ce6d249432505f"
            ]
        ]
    },
    {
        "id": "7f44bfac4805cc5e",
        "type": "function",
        "z": "761b5806c43a83e0",
        "name": "prepareHtml",
        "func": "var temp = {};\nvar html = \"<table width='100%'><tr><td width='10%'> ident </td><td width='20%'>appareil</td><td width='20%'>VAI</td><td width='20%'>KWHj</td><td width='10%'>profil</td><td width='20%'>emplacement</td></tr>\";\nfor(var i in msg.payload)\n{\n    temp = msg.payload[i];\n    html += \"<tr><td>\" + temp.ident + \"</td><td>\" + temp.appareil + \"</td><td>\" + temp.VAI + \"</td><td> \" + temp.KWHj + \"</td ><td> \" + temp.profil + \"</td ><td> \" + temp.emplacement +\"</td ></tr>\";\n}\nhtml += \"</table>\";\nmsg.payload = html;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "5f23bbbc3c9c1058"
            ]
        ]
    },
    {
        "id": "5f23bbbc3c9c1058",
        "type": "ui_template",
        "z": "761b5806c43a83e0",
        "group": "2606e140c9d98a7a",
        "name": "liste appareils",
        "order": 20,
        "width": "6",
        "height": 5,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1200,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "35f45d86840df4fe",
        "type": "mysql",
        "z": "761b5806c43a83e0",
        "mydb": "43d8c011dfdc997f",
        "name": "creppcarbone",
        "x": 800,
        "y": 280,
        "wires": [
            [
                "7f44bfac4805cc5e"
            ]
        ]
    },
    {
        "id": "0dad703a5251e77b",
        "type": "function",
        "z": "761b5806c43a83e0",
        "name": "function 20",
        "func": "msg.topic = \"SELECT DISTINCT ident,appareil, VAI, KWHj, profil, emplacement   FROM conso \"\nmsg.payload ={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "35f45d86840df4fe"
            ]
        ]
    },
    {
        "id": "23ec6334ba0aa4a2",
        "type": "ui_button",
        "z": "761b5806c43a83e0",
        "name": "",
        "group": "2606e140c9d98a7a",
        "order": 21,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "charger la liste depuis la BDD",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "0dad703a5251e77b"
            ]
        ]
    },
    {
        "id": "a662b941bd2bf357",
        "type": "ui_numeric",
        "z": "761b5806c43a83e0",
        "name": "",
        "label": "choix appareil",
        "tooltip": "",
        "group": "2606e140c9d98a7a",
        "order": 16,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "07b91b853f16e9ca",
                "2b342f5e5fd7c52f"
            ]
        ]
    },
    {
        "id": "07b91b853f16e9ca",
        "type": "function",
        "z": "761b5806c43a83e0",
        "name": "function 22",
        "func": "var P1 = msg.payload;\nmsg.topic = \"SELECT DISTINCT ident,appareil, VAI, KWHj  FROM conso WHERE ident ='\" + P1 + \"'\"\nmsg.payload ={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 360,
        "wires": [
            [
                "5b42880bd537949e"
            ]
        ]
    },
    {
        "id": "5b42880bd537949e",
        "type": "mysql",
        "z": "761b5806c43a83e0",
        "mydb": "43d8c011dfdc997f",
        "name": "creppcarbone",
        "x": 820,
        "y": 360,
        "wires": [
            [
                "d5248e3cd70bcca2",
                "bfc7db14e548648a"
            ]
        ]
    },
    {
        "id": "d5248e3cd70bcca2",
        "type": "function",
        "z": "761b5806c43a83e0",
        "name": "prepareHtml",
        "func": "var temp = {};\nvar html = \"<table width='100%'><tr><td width='10%'> ident </td><td width='50%'>appareil</td><td width='20%'>VAI</td><td width='20%'>KWHj</td></tr>\";\nfor(var i in msg.payload)\n{\n    temp = msg.payload[i];\n    html += \"<tr><td>\" + temp.ident + \"</td><td>\" + temp.appareil + \"</td><td>\" + temp.VAI + \"</td><td> \" + temp.KWHj + \"</td >></tr>\";\n}\nhtml += \"</table>\";\nmsg.payload = html;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "6437d5d40fe4ee4b"
            ]
        ]
    },
    {
        "id": "6437d5d40fe4ee4b",
        "type": "ui_template",
        "z": "761b5806c43a83e0",
        "group": "2606e140c9d98a7a",
        "name": "appareil chargé",
        "order": 17,
        "width": "6",
        "height": "6",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1200,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2b342f5e5fd7c52f",
        "type": "debug",
        "z": "761b5806c43a83e0",
        "name": "debug 57",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "bfc7db14e548648a",
        "type": "debug",
        "z": "761b5806c43a83e0",
        "name": "debug 58",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "cc8073ae8d857758",
        "type": "inject",
        "z": "d931280a91eab542",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 153.75,
        "y": 220,
        "wires": [
            [
                "9f62eccd26ec7245",
                "71ee95f2d1c8e19e",
                "cd0bbbcbedddac94",
                "497c9b68470b543a"
            ]
        ]
    },
    {
        "id": "ad2e622241249cba",
        "type": "debug",
        "z": "d931280a91eab542",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 920,
        "y": 540,
        "wires": []
    },
    {
        "id": "42e955fdb64dd44f",
        "type": "ui_text",
        "z": "d931280a91eab542",
        "group": "016964b9b18bce81",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "carbon intensity FR",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "x": 813.75,
        "y": 120,
        "wires": []
    },
    {
        "id": "3d6671eccf47240a",
        "type": "function",
        "z": "d931280a91eab542",
        "name": "etat latest carbone",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6= {};\nvar msg7= {};\nvar msg8= {};\nmsg1.topic = 'S1';\nmsg2.topic = 'S2';\nmsg3.topic = 'S3';\nmsg4.topic = 'S4';\nmsg5.topic = 'S5';\nmsg6.topic = 'S6';\nmsg7.topic = 'S7';\nmsg8.topic = 'S8';\nmsg1.payload = msg.payload.carbonIntensity;\nmsg2.payload = msg.payload.zone;\nmsg3.payload = msg.payload.datetime;\n//msg4.payload = msg.payload.ENERGY.Total;\n//msg5.payload = msg.payload.ENERGY.Total*16;\n//msg6.payload = msg.payload.ENERGY.Power*16;\n//msg7.payload = msg.payload.ENERGY.Power*16;\n//msg8.payload = msg.payload.ENERGY.Power;\nreturn [msg1, msg2, msg3];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 533.75,
        "y": 140,
        "wires": [
            [
                "42e955fdb64dd44f",
                "7a818431fcf3f8d8",
                "de4551c3b52ae065"
            ],
            [],
            []
        ]
    },
    {
        "id": "7bdb45f6e2c9b6b2",
        "type": "http request",
        "z": "d931280a91eab542",
        "d": true,
        "name": "history  CO2 FR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api-access.electricitymaps.com/free-tier/carbon-intensity/history?zone=FR",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 400,
        "y": 380,
        "wires": [
            [
                "f23f027a0b8b58e4"
            ]
        ]
    },
    {
        "id": "4acee825ab57f244",
        "type": "inject",
        "z": "d931280a91eab542",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f23f027a0b8b58e4",
        "type": "function",
        "z": "d931280a91eab542",
        "name": "etat historycarbone",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6= {};\nvar msg7= {};\nvar msg8= {};\nmsg1.topic = 'S1';\nmsg2.topic = 'S2';\nmsg3.topic = 'S3';\nmsg4.topic = 'S4';\nmsg5.topic = 'S5';\nmsg6.topic = 'S6';\nmsg7.topic = 'S7';\nmsg8.topic = 'S8';\nmsg1.payload = msg.payload.history[0].carbonIntensity;\nmsg2.payload = msg.payload.history[1].carbonIntensity;\nmsg3.payload = msg.payload.history[2].carbonIntensity;\n//msg4.payload = msg.payload.[0];\n//msg5.payload = msg.payload.ENERGY.Total*16;\n//msg6.payload = msg.payload.ENERGY.Power*16;\n//msg7.payload = msg.payload.ENERGY.Power*16;\n//msg8.payload = msg.payload.ENERGY.Power;\nreturn [msg1, msg2, msg3];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 420,
        "wires": [
            [
                "a2c508d274e5833d"
            ],
            [
                "dcf20230b2cc22cb"
            ],
            [
                "e2e5b63dccafcadf"
            ]
        ]
    },
    {
        "id": "a2c508d274e5833d",
        "type": "ui_text",
        "z": "d931280a91eab542",
        "d": true,
        "group": "016964b9b18bce81",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "carbon intensity 0",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "dcf20230b2cc22cb",
        "type": "ui_text",
        "z": "d931280a91eab542",
        "d": true,
        "group": "016964b9b18bce81",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "carbon intensity 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "e2e5b63dccafcadf",
        "type": "ui_text",
        "z": "d931280a91eab542",
        "d": true,
        "group": "016964b9b18bce81",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "carbon intensity 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "83bc8d9faed2973d",
        "type": "function",
        "z": "d931280a91eab542",
        "name": "latest power-breakdown",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6= {};\nvar msg7= {};\nvar msg8= {};\nmsg1.topic = 'S1';\nmsg2.topic = 'S2';\nmsg3.topic = 'S3';\nmsg4.topic = 'S4';\nmsg5.topic = 'S5';\nmsg6.topic = 'S6';\nmsg7.topic = 'S7';\nmsg8.topic = 'S8';\nmsg1.payload = msg.payload.powerProductionBreakdown.wind;\nmsg2.payload = msg.payload.powerProductionBreakdown.solar;\nmsg3.payload = msg.payload.powerProductionBreakdown.gas;\n//msg4.payload = msg.payload.[0];\n//msg5.payload = msg.payload.ENERGY.Total*16;\n//msg6.payload = msg.payload.ENERGY.Power*16;\n//msg7.payload = msg.payload.ENERGY.Power*16;\n//msg8.payload = msg.payload.ENERGY.Power;\nreturn [msg1, msg2, msg3];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 620,
        "wires": [
            [
                "d777d1b6cf51b89f",
                "4c4e15ccead7a6c5"
            ],
            [
                "0a697afef894fff0",
                "b0d72ac318e6d5b0"
            ],
            [
                "f48b9eaaeb7e5fb9",
                "343a629fc33defe8"
            ]
        ]
    },
    {
        "id": "d777d1b6cf51b89f",
        "type": "ui_text",
        "z": "d931280a91eab542",
        "d": true,
        "group": "016964b9b18bce81",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "eolien",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "0a697afef894fff0",
        "type": "ui_text",
        "z": "d931280a91eab542",
        "d": true,
        "group": "016964b9b18bce81",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "solaire",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "f48b9eaaeb7e5fb9",
        "type": "ui_text",
        "z": "d931280a91eab542",
        "d": true,
        "group": "016964b9b18bce81",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "gaz",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 680,
        "wires": []
    },
    {
        "id": "7a818431fcf3f8d8",
        "type": "ui_chart",
        "z": "d931280a91eab542",
        "d": true,
        "name": "",
        "group": "016964b9b18bce81",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "CO2 FR",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 783.75,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4c4e15ccead7a6c5",
        "type": "ui_chart",
        "z": "d931280a91eab542",
        "d": true,
        "name": "",
        "group": "016964b9b18bce81",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "eolien  FR",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1020,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "b0d72ac318e6d5b0",
        "type": "ui_chart",
        "z": "d931280a91eab542",
        "d": true,
        "name": "",
        "group": "016964b9b18bce81",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "solaire  FR",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1040,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "343a629fc33defe8",
        "type": "ui_chart",
        "z": "d931280a91eab542",
        "d": true,
        "name": "",
        "group": "016964b9b18bce81",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "gaz FR",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 990,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "8e165643b9d3d3d8",
        "type": "ui_text",
        "z": "d931280a91eab542",
        "group": "016964b9b18bce81",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "carbon intensity DE",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "x": 893.75,
        "y": 20,
        "wires": []
    },
    {
        "id": "de4551c3b52ae065",
        "type": "ui_gauge",
        "z": "d931280a91eab542",
        "name": "CO2",
        "group": "016964b9b18bce81",
        "order": 2,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "CO2  FR",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "700",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "250",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "1bb73e704c412c23",
        "type": "ui_media",
        "z": "13de37cb61fc3ad2",
        "group": "af6e9ca4e8ef71ea",
        "name": "",
        "width": "2",
        "height": "2",
        "order": 2,
        "category": "image",
        "file": "icone panneau.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 230,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "9f62eccd26ec7245",
        "type": "http request",
        "z": "d931280a91eab542",
        "name": " lastest  CO2 FR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api-access.electricitymaps.com/free-tier/carbon-intensity/latest?zone=FR",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 343.75,
        "y": 140,
        "wires": [
            [
                "3d6671eccf47240a"
            ]
        ]
    },
    {
        "id": "616a0921fe27a189",
        "type": "http request",
        "z": "d931280a91eab542",
        "d": true,
        "name": "history  CO2 FR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api-access.electricitymaps.com/free-tier/carbon-intensity/history?zone=FR",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 400,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b787f32585919542",
        "type": "http request",
        "z": "d931280a91eab542",
        "name": "latest power-breakdown FR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api-access.electricitymaps.com/free-tier/power-breakdown/latest?zone=FR",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 340,
        "y": 660,
        "wires": [
            [
                "83bc8d9faed2973d",
                "ad2e622241249cba"
            ]
        ]
    },
    {
        "id": "71ee95f2d1c8e19e",
        "type": "http request",
        "z": "d931280a91eab542",
        "name": " lastest  CO2 DE",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api-access.electricitymaps.com/free-tier/carbon-intensity/latest?zone=DE",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 343.75,
        "y": 80,
        "wires": [
            [
                "8dcc69f85042b150"
            ]
        ]
    },
    {
        "id": "8dcc69f85042b150",
        "type": "function",
        "z": "d931280a91eab542",
        "name": "etat latest carbone",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6= {};\nvar msg7= {};\nvar msg8= {};\nmsg1.topic = 'S1';\nmsg2.topic = 'S2';\nmsg3.topic = 'S3';\nmsg4.topic = 'S4';\nmsg5.topic = 'S5';\nmsg6.topic = 'S6';\nmsg7.topic = 'S7';\nmsg8.topic = 'S8';\nmsg1.payload = msg.payload.carbonIntensity;\nmsg2.payload = msg.payload.zone;\nmsg3.payload = msg.payload.datetime;\n//msg4.payload = msg.payload.ENERGY.Total;\n//msg5.payload = msg.payload.ENERGY.Total*16;\n//msg6.payload = msg.payload.ENERGY.Power*16;\n//msg7.payload = msg.payload.ENERGY.Power*16;\n//msg8.payload = msg.payload.ENERGY.Power;\nreturn [msg1, msg2, msg3];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 60,
        "wires": [
            [
                "8e165643b9d3d3d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "cd0bbbcbedddac94",
        "type": "http request",
        "z": "d931280a91eab542",
        "name": " lastest  CO2 IT",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api-access.electricitymaps.com/free-tier/carbon-intensity/latest?zone=IT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "f224d94832b207c0"
            ]
        ]
    },
    {
        "id": "f224d94832b207c0",
        "type": "function",
        "z": "d931280a91eab542",
        "name": "etat latest carbone",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6= {};\nvar msg7= {};\nvar msg8= {};\nmsg1.topic = 'S1';\nmsg2.topic = 'S2';\nmsg3.topic = 'S3';\nmsg4.topic = 'S4';\nmsg5.topic = 'S5';\nmsg6.topic = 'S6';\nmsg7.topic = 'S7';\nmsg8.topic = 'S8';\nmsg1.payload = msg.payload.carbonIntensity;\nmsg2.payload = msg.payload.zone;\nmsg3.payload = msg.payload.datetime;\n//msg4.payload = msg.payload.ENERGY.Total;\n//msg5.payload = msg.payload.ENERGY.Total*16;\n//msg6.payload = msg.payload.ENERGY.Power*16;\n//msg7.payload = msg.payload.ENERGY.Power*16;\n//msg8.payload = msg.payload.ENERGY.Power;\nreturn [msg1, msg2, msg3];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 200,
        "wires": [
            [
                "f89443aa95a33305"
            ],
            [],
            []
        ]
    },
    {
        "id": "f89443aa95a33305",
        "type": "ui_text",
        "z": "d931280a91eab542",
        "group": "016964b9b18bce81",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "carbon intensity Italy",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "4762928cd6b5f5fa",
        "type": "debug",
        "z": "d931280a91eab542",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 340,
        "wires": []
    },
    {
        "id": "ae97a4d3dc433689",
        "type": "ui_media",
        "z": "a21c4b8426a30f7f",
        "group": "1b256139bc926903",
        "name": "",
        "width": "2",
        "height": "2",
        "order": 1,
        "category": "image",
        "file": "velo 2.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 150,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ac51ce4e725ca59a",
        "type": "ui_media",
        "z": "d931280a91eab542",
        "group": "016964b9b18bce81",
        "name": "",
        "width": "2",
        "height": "2",
        "order": 1,
        "category": "image",
        "file": "pylo.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 200,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a17fbaf85af5ef8f",
        "type": "ui_gauge",
        "z": "13de37cb61fc3ad2",
        "name": "puissance inst",
        "group": "af6e9ca4e8ef71ea",
        "order": 3,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "P instantanée",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "420",
        "colors": [
            "#ff8000",
            "#0080ff",
            "#00ff40"
        ],
        "seg1": "80",
        "seg2": "250",
        "x": 840,
        "y": 860,
        "wires": []
    },
    {
        "id": "f5d0f579d220ae99",
        "type": "ui_gauge",
        "z": "a21c4b8426a30f7f",
        "name": "puissance inst",
        "group": "1b256139bc926903",
        "order": 2,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "P instantanée",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "120",
        "colors": [
            "#ff8000",
            "#0080ff",
            "#00ff40"
        ],
        "seg1": "5",
        "seg2": "90",
        "x": 1003,
        "y": 644,
        "wires": []
    },
    {
        "id": "88561731123f1da8",
        "type": "file in",
        "z": "ddd0105b04875be6",
        "name": "",
        "filename": "mb://freebox-server.local/disque dur sur freebox-server.local/Téléchargements/creppcarbone",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "497c9b68470b543a",
        "type": "http request",
        "z": "d931280a91eab542",
        "d": true,
        "name": " lastest  CO2 Poland",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api-access.electricitymaps.com/free-tier/carbon-intensity/latest?zone=PL",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "65aabe17d51a2f30",
                "4762928cd6b5f5fa"
            ]
        ]
    },
    {
        "id": "65aabe17d51a2f30",
        "type": "function",
        "z": "d931280a91eab542",
        "name": "etat latest carbone",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6= {};\nvar msg7= {};\nvar msg8= {};\nmsg1.topic = 'S1';\nmsg2.topic = 'S2';\nmsg3.topic = 'S3';\nmsg4.topic = 'S4';\nmsg5.topic = 'S5';\nmsg6.topic = 'S6';\nmsg7.topic = 'S7';\nmsg8.topic = 'S8';\nmsg1.payload = msg.payload.carbonIntensity;\nmsg2.payload = msg.payload.zone;\nmsg3.payload = msg.payload.datetime;\n//msg4.payload = msg.payload.ENERGY.Total;\n//msg5.payload = msg.payload.ENERGY.Total*16;\n//msg6.payload = msg.payload.ENERGY.Power*16;\n//msg7.payload = msg.payload.ENERGY.Power*16;\n//msg8.payload = msg.payload.ENERGY.Power;\nreturn [msg1, msg2, msg3];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "b6d034fab19bc5ac"
            ],
            [],
            []
        ]
    },
    {
        "id": "b6d034fab19bc5ac",
        "type": "ui_text",
        "z": "d931280a91eab542",
        "group": "016964b9b18bce81",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "carbon intensity poland",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "be350b0989e83a38",
        "type": "inject",
        "z": "bd0e39b0e5b0cc70",
        "name": "SELECT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT DISTINCT energytoday,Time FROM tasmota WHERE  Time >0 ORDER BY Time DESC LIMIT 10;",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "c00041db67beb73f"
            ]
        ]
    },
    {
        "id": "c00041db67beb73f",
        "type": "mysql",
        "z": "bd0e39b0e5b0cc70",
        "mydb": "43d8c011dfdc997f",
        "name": "creppcarbone",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "d199b79962a4c5c7",
                "25b51aef2a1b633f"
            ]
        ]
    },
    {
        "id": "d199b79962a4c5c7",
        "type": "function",
        "z": "bd0e39b0e5b0cc70",
        "name": "prepare chart",
        "func": "var temp = {};\nvar data = [];\n\nfor (var i in msg.payload) {\n    temp = msg.payload[i];\n    data[i] = { \"x\": temp.Time, \"y\": temp.energytoday };\n}\n\nvar chart = [{\n    \"series\": [\"energytoday\"],\n    \"data\": [\n        data\n    ]\n}];\nmsg.payload = chart;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "1c37b49de04230b6"
            ]
        ]
    },
    {
        "id": "1c37b49de04230b6",
        "type": "ui_chart",
        "z": "bd0e39b0e5b0cc70",
        "name": "",
        "group": "f8e408a8348f1a42",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "energy today",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 750,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "58fbaa6a32b1881f",
        "type": "function",
        "z": "bd0e39b0e5b0cc70",
        "d": true,
        "name": "prepareHtml",
        "func": "var temp = {};\nvar html = \"<table width='100%'><tr><td width='75%'>Date</td><td width='25%'>CO2</td></tr>\";\nfor(var i in msg.payload)\n{\n    temp = msg.payload[i];\n    html += \"<tr><td>\"+temp.Time+\"</td><td>\"+temp.energytoday+\"</td></tr>\";\n}\nhtml += \"</table>\";\nmsg.payload = html;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "219145b338150570"
            ]
        ]
    },
    {
        "id": "219145b338150570",
        "type": "ui_template",
        "z": "bd0e39b0e5b0cc70",
        "d": true,
        "group": "f8e408a8348f1a42",
        "name": "result C02",
        "order": 38,
        "width": "0",
        "height": "0",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 710,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7a795513ac79a480",
        "type": "ui_button",
        "z": "bd0e39b0e5b0cc70",
        "name": "",
        "group": "f8e408a8348f1a42",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "today",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "SELECT DISTINCT energytoday,Time FROM tasmota WHERE  Time >0 ORDER BY Time DESC LIMIT 10;",
        "topicType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "c00041db67beb73f"
            ]
        ]
    },
    {
        "id": "6f92af84d4fe241f",
        "type": "function",
        "z": "bd0e39b0e5b0cc70",
        "d": true,
        "name": "",
        "func": "msg.payload=[{\n    \"series\": [\"temp1\", \"temp2\", \"temp3\" ],\n    \"data\": [ [5,5,5], [3,8,5], [6,7,2] ],\n    \"labels\": [ \"Jan\", \"Feb\", \"Mar\" ]\n}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5313c45ac291fc72",
        "type": "function",
        "z": "bd0e39b0e5b0cc70",
        "d": true,
        "name": "",
        "func": "msg.payload=[{\n    \"series\": [\"temp1\" ],\n    \"data\": [ [5,5,5] ],\n    \"labels\": [ \"Jan\", \"Feb\", \"Mar\" ]\n}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "35ef98de50d6d14b",
        "type": "inject",
        "z": "bd0e39b0e5b0cc70",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "25b51aef2a1b633f",
        "type": "function",
        "z": "bd0e39b0e5b0cc70",
        "name": "prepare chart bar",
        "func": "var temp = {};\nvar data = [];\nvar labels =[];\nconst str1 = 'num';\n\n\n\n\n//for (var i in msg.payload) {\n  //  temp = msg.payload[i];\n//    data[i] = temp.energytoday;\n  //  labels[i] =temp.Time\n  // labels[i]= i;\n // labels[i]= str1.concat(i);\n//}\nfor (var i in msg.payload) {\n    temp = msg.payload[i];\n    data[i] = temp.energytoday;\n  // labels[i]= i;\n // labels[i]= str1.concat(i);\n}\nfor (var j in msg.payload) {\n    temp = msg.payload[j];\n  \n    labels[j] =temp.Time\n  // labels[i]= i;\n  //labels[j]= str1.concat(j);\n}\n\nvar chart = [{\n    \"series\": [\"Energy today\"],\n    \"data\": [data],\n   \"labels\":labels\n}];\nmsg.payload = chart;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "d12a938fb030e109"
            ]
        ]
    },
    {
        "id": "d12a938fb030e109",
        "type": "ui_chart",
        "z": "bd0e39b0e5b0cc70",
        "name": "",
        "group": "f8e408a8348f1a42",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart jul 2",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 700,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "068f269bdddf486e",
        "type": "cronplus",
        "z": "13de37cb61fc3ad2",
        "d": true,
        "name": "hourly",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "str",
                "payload": "go",
                "expressionType": "cron",
                "expression": "0 0 * * * ? *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 390,
        "y": 340,
        "wires": [
            []
        ]
    }
]